* {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hidden-select {
  display: none;
}

.display-value {
  text-transform: uppercase;
  font-weight: 700;
  background-color: #eee;
  padding: 8px;
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.caret {
  font-size: 20px;
  transform: rotate(180deg);
}

.option-container {
  border: 1px solid #eee;
}

.option-title {
  font-weight: 700;
  background-color: #eee;
  padding: 8px;
}

.option {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 8px;
}

.option:hover {
  background-color: #eee;
  cursor: pointer;
}

.option-size {
  font-weight: 700;
}

.option-price {
  font-weight: 700;
  color: red;
}

.divider {
  width: 95%;
  height: 1px;
  background-color: #eee;
  margin: auto;
}
